@import "./config.scss";
@import "~bootstrap/scss/bootstrap";
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);

/* -------- Forms -------- */
.required:after {
    content: " *";
    font-weight: bold;
    font-size: 18px;
    color: red;
}
